.icon-lg{font-size:48px;
height:108px;
width:108px;
line-height:108px;
color:#fff;
margin:10px;
background-color:rgba(0,0,0,0.4);
text-align:center;
display:inline-block!important;
border-radius:20%;}

.icon-md{font-size:24px;
height:68px;
width:68px;
line-height:68px;
color:#fff;
margin-right:10px;
background-color:rgba(0,0,0,0.4);
text-align:center;
display:inline-block;
border-radius: 100%;
margin-bottom:10px;
border:1px solid;
}

.icon-color1{background-color:transparent;
color:black;
}

.icon-color2{background-color:transparent;
color:black;
}

.icon-color3{background-color:transparent;
color:black;
}
.icon-color4{background-color:transparent;
color:black;
}

.icon-color5{background-color:transparent;
color:black;

}.icon-color6{background-color:transparent;
color:black;}